@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


:root {
  --mainBlack: #333333;
  --mainWhite: #f5f5f5;
  --mainYellow: #001A38;
  --mainGreen: #ffffff;
  --mainBlue: #118ab2;
  --darkBlue: #073b4c;
}
body {
  background: var(--mainYellow);
  color: var(--mainBlack);
  font-family: 'Quicksand', sans-serif !important;

}
.card {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  background: var(--mainGreen);
}
.cityInput {
  border: 0.15rem solid var(--mainBlue);
  background: transparent !important;
  font-size: 1.5rem;
  color: var(--mainBlue);
}
input:focus {
  background: transparent !important;
}

.submitBtn {
  background: var(--mainBlue);
  border: 0.15rem solid var(--mainBlue);
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.7;
  color: var(--mainWhite);
}
.submitBtn:hover {
  opacity: 1;

  outline: none;
}
.feedback {
  display: none;
}
.results {
  display: none;
}
.showItem {
  display: block;
}
